body {
  width: 1400px;
  margin: 0 auto;
  background-color: rgb(97, 90, 90);
  color: white;
}


.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

